<table width="287" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  	<tr>
    	<td colspan="10">
    		<p style="font-family:Arial;font-size:12px">
    		<strong> {{ full_name }} </strong>
            {% if title %}
                <br>
                <span style="color:#666"> {{ title }} </span></p>
            {% endif %}
   		</td>
	</tr>

  <tr>
		<td colspan="10"><hr align="left" size="1" noshade>
        </td>
  </tr>

  <tr>
  	<td width="40" valign="center"><a href="http://www.i2btech.com" target="_blank">
    	<img border="0" src="http://www.i2btech.com/wp-content/uploads/2014/08/logo-i2b.png" width="35" height="35" alt="firma I2B"></a>
	</td>
    <td width="247" valign="center" align="left">
    	<p style="font-family:Arial;font-size:13px;text-align:left">
        <strong>I2B TECHNOLOGIES <br></strong>
        <span style="color:#666;font-family:Arial;font-size:10px;">CHILE - COLOMBIA - PER&Uacute;</span></p>
 	</td>
  </tr>

  <tr>
  	<td colspan="10" height="6px">
    </td>
  </tr>

  <tr>
  	<td colspan="10" style="text-align:left">
        <span style="font-family:Arial;font-size:11px;">
            Cl 114 #42-27 Torre 15 Apt 303 <br> Barranquilla, Colombia
            {% if time_zone %}
                <br>
                Zona horaria: {{ time_zone }}
            {% endif %}
        </span><br>
  		<span style="font-size:11px;font-family:Arial,Helvetica,sans-serif">

        {% if phone %}
            Movil: <a href="tel:+{{ phone }}" value="+{{ phone }}" style="font-family:Arial;font-size:11px;line-height:13px;color:#d51f25" target="_blank">+{{ phone }}</a><br>
        {% endif %}

        <span style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#f00">
            <a href="https://www.google.com/maps/place/Conjunto+T%C3%B3rtola/@10.9917772,-74.8437899,18.96z/data=!4m6!3m5!1s0x8ef42d4709d4f457:0x6205dd66db4079dd!8m2!3d10.9915468!4d-74.8438118!16s%2Fg%2F11hzv4rf3t?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D" style="font-family:Arial;font-size:11px;line-height:13px;text-align:left;color:#d51f25" target="_blank">Mapa</a>
            | <a href="http://www.i2btech.com" style="font-family:Arial;font-size:11px;line-height:13px;text-align:left;color:#d51f25" target="_blank">Sitio</a></span></span><span style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#f00"><a href="http://www.i2btech.com" style="font-family:Arial;font-size:11px;line-height:13px;text-align:left;color:#d51f25" target="_blank"></a>
            | <a href="http://www.linkedin.com/company/1358465?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A656249181383574316121%2CVSRPtargetId%3A1358465%2CVSRPcmpt%3Aprimary" style="font-family:Arial;font-size:11px;line-height:13px;text-align:left;color:#d51f25" target="_blank">Linkedin</a>
            {% if calendar %}
            | <a href="{{ calendar }}" style="font-family:Arial;font-size:11px;line-height:13px;text-align:left;color:#d51f25" target="_blank">Calendario</a>
            {% endif %}
        </span>
	</td>
  </tr>
</tbody>
</table>
